body {
    color: white;
    font-family: 'Gill Sans';
    background-color: black;
    text-align: center;
}

h1 {
    font-size: 45px;
    font-weight: normal;
    margin: 40px 0;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

footer > p {
    text-align: right;
}

div {
    margin: 20px;
}

.downloadLink {
    color: black;
    border: 2px solid white;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
}

.downloadLink:hover {
    color: white;
    background-color: black;
}